.featured_item {
    position: relative;
}

.featured_item a {
    position: absolute;
    width: 100%;
    bottom: 0px;
    text-decoration: none;
    right: 0px;
}

.featured_image {
    height: 330px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.featured_caption {
    color: #ffffff;
    top: 0px;
    width: 100%;
    padding: 20px;
    font-weight: 300;
    font-size: 28px;
    box-sizing: border-box;
    background-color: rgba(000,000,000,.5);
    transition: .2s all;
    &:hover {
        background-color: rgba(255,255,255,.5);
        color: #000000;
    }
}
